:root {
    --container-width: 1720px;
    --font-family-amatic: 'Amatic SC', cursive;
    --font-family-roboto: 'Roboto Condensed', sans-serif;
    --color-black: #292B2A;
    --color-gray: #959595;
    --color-blue: #052E43;
    --bg-basket: #CEAFC8;
    --bg-item-catalog: #fff;
    --border-radius: 4px;
}

@mixin flex($fd, $al, $js) {
    display: flex;
    flex-direction: $fd;
    align-items: $al;
    justify-content: $js;
}