@media (max-width: 1170px) {
    .header__link-description {
        display: none;
    }
    .header__logo {
        position: static;
        transform: translateX(0);
    }
}

@media (max-width: 992px) {
    .catalog__list {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px) {
    .catalog__list {
        grid-template-columns: 1fr;
    }
    .catalog__item.catalog__item_big-row{
        grid-column: span 1;
    }
    .catalog__item.catalog__item_big-col{
        grid-row: span 1;
    }
    .header__box {
        display: none;
    }
    .header__btn-open-form{
        margin-right: 0px;
    }
    .header__btn-burger{
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .header__btn-open-form {
        display: none;
    }
    .header__logo{
        margin-right: 0;
        margin-left: auto;
    }
    .catalog__item{
        background-size: 60%;
    }
}